<!DOCTYPE html>
<html lang="en">

<head>
    <title>dogFire</title>
    <link rel="stylesheet" href="/css/dashboard.css" media="screen" title="no title" charset="utf-8">
</head>

{{!-- <body class="black"> --}}

  <!--Main Navigation-->
  <div id="titlebar" class="header">

    <!-- Navbar -->

    {{!-- --This will move the dog icon all the way to the left-- --}}
{{!-- <nav class="navbar navbar-expand-lg"></nav> --}}

{{!-- This moves it all the way to the right --}}
   <nav class="navbar" id="navbar">
        <h1><strong>The Barker</h1></strong>
        <!-- Right -->
        <i class="fas fa-dog mr-4" id="icon"></i>
   </nav>
   
  <!-- Navbar -->
</div>
    
 <!-- <body> -->
  <body>
    <div class="container-fluid" id= "main-container">
      <div class="row">

        <div class="col-md-4" id="sidebar">
            <div style="text-align: center">
                <h3>
                    {{name}} 
                    <button style="float: right; font-size: 12pt; margin-top: 10px" 
                    onclick="window.location.href='/'">
                    sign out
                    </button>
                </h3>
                <br>
                <div style="width: 100%; height: 300px;">
                    <img id="profilePic" src="{{imgURL}}" style="max-width: 100%; max-height: 100%; display: inline-block" alt="dog picture">
                </div>
            </div>
            <br>
            {{!-- sidebar tabs --}}
            <a class="tabButton list-group-item active waves-effect" 
                id="getmatches" 
                onclick="showWindow('matches');">
                <i class="	fas fa-dog mr-4"></i>Matches</a>
            <a class="tabButton list-group-item waves-effect" 
                id="getprofile" 
                onclick="showWindow('profile');">
                <i class="	fas fa-dog mr-4"></i>Profile</a>
            <a class="tabButton list-group-item waves-effect" 
                id="getmessages" 
                onclick="showWindow('messages')">
                <i class="	fas fa-dog mr-4"></i>
                Messages
                <div id="newMessages" class="messageAlert">0</div>
            </a>
        </div>

        {{!-- content windows --}}

        <div class="col-md-8">

            <div class= "content-window" id="profile" style="display: none">      
                {{!-- <img id="firstPic" src="https://d3jjg4nf4bbybe.cloudfront.net/u/64047/a19fb2d6368a1a3a57d32838884733aac69f9570/medium/ralph-4.jpg"> --}}
                    
                {{!-- <div style="width: 100%; height: 400px; text-align: center">
                    <img id="secondPic" src="{{imgURL}}" style="max-width: 100%; max-height: 100%; display: inline-block"
                        alt="dog picture">
                </div> --}}
                <p>Name: {{name}}</p>
                <p>Breed: {{breed}}</p>
                <p>Sex: {{sex}}</p>
                <p>Location: {{location}}</p>
                <p>Description: {{description}}</p>
                <div class="row">
                    <div class="col-12 bottombar" id="chatControls">
                        <button class="rowbutton" id="changeProfileInfo" style="left: 25%"
                            onclick="window.location.href='/'">Sign Out</button>
                        <button class="rowbutton" id="changeProfileInfo" style="left: 75%"
                            onclick="showWindow('editProfile');">Edit Personal Info</button>
                    </div>>
                </div>

            </div>        
        
      
            {{!-- matches window!! --}}
            <div class= "content-window" id="matches"> 
                <div class="row">
                    <div class="col-md-6">
                        <div id="matchPicContainer">
                            {{!-- <img id="matchPic" src="" alt="dog picture"> --}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <h3 id="matchName">dog</h3>
                        <hr>
                        <p id="matchBreed">dog</p>
                        <p id="matchSex">dog</p>
                        <p id="matchLocation">here</p>
                        {{!-- <p id="matchAge">1</p> --}}
                        <p id="matchDescription">dog</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 bottomBar">
                        <br>
                        <button class='rowbutton' style="left: 25%" onclick="showWindow('convo');">send message</button>
                        <button class='rowbutton' style="left: 75%" onclick="nextMatch()">next</button>
                        <br>
                        <span style="color:black">' let's have some space here please for fuck's sake '</span>
                    </div>
                </div>
            </div>
          

            <div class="content-window" id="messages" style="display: none">

            </div>

            <div class="content-window" id="convo" style="display: none">
                {{!-- <img id="matchedImage" src="/images/dragon.jpg" alt="dog picture"> --}}
                <div id="prevMessages" onclick="checkMessages()">

                </div>
                <div class="row">
                    <div class="col-12 bottombar" id="chatControls">
                        <button class="rowbutton" style="left: 10%" 
                            onclick="showWindow(lastWindow)"><--Back</button>
                        <span style="position:absolute; bottom: 50px; left: 50%; transform: translate(-50%)">
                            message to: <span id="msgRecipient"></span>
                            <input type="text" id="msgText">
                        </span>
                        <button class="rowbutton" style="left: 90%" 
                            onclick="sendMessage()">Send</button>
                    </div>
                </div>
            </div>

            {{!-- profile editor --}}
            <div class="content-window" id="editProfile" style="display: none">
                {{!-- <img id="matchedImage" src="/images/dragon.jpg" alt="dog picture"> --}}
                <div>

                </div>
                <div class="row">
                    <div class="col-12 bottombar" id="chatControls">
                        <button class="rowbutton" style="left: 10%" 
                            onclick="showWindow(lastWindow)"><--Cancel</button>
                        <button class="rowbutton" style="left: 90%" 
                            onclick="showWindow(lastWindow)">Apply</button>
                    </div>
                </div>
            </div>
        </div> <!-- content-window col-8-md -->
    </div>
</div>
        

{{!--  app.get("/api/name/:dogename", function (req, res) {
        // look up by username
        console.log("getting info on user with name: " + req.params.dogename);
        findDoge({ name: req.params.dogename }, res); --}}



</body>

<script>
    var matches = [];
    var currentMatch = 0;
    var currentWindow = "matches";
    var lastWindow = "";
    var unreadMessages = 0;

    $(document).ready(() => {
        // have these ready
        console.log('starting up...');
        // this should work even if lastMatch is null
        currentMatch= parseInt("0{{lastMatch}}");
        getMatches();
    });

    // automatic actions when enter is pressed
    $(document).keydown ((event) => {
        if (currentWindow == "convo") {
            if (event.key == "Enter") {
                sendMessage();
            }
        }
    });

    function showWindow(windowName) {
        // show the appropriate hidden div
        $(".tabButton").removeClass("active");
        $("#get" + windowName).addClass("active");
        $(".content-window").hide();
        $('#'+ windowName).show();
        lastWindow = currentWindow;
        currentWindow = windowName;
        // specific actions per window
        if (currentWindow == "messages") {
            showMessages();
        }
        else if (currentWindow == "convo") {
            showConvo();
        }
    };

    function getMatches() {
        // basically get all possible matches from the database
        $.ajax({
            url: "/api/allDoges",
            type: "GET",
            success: (doges) => {
                doges.forEach(doge => {
                    // add a message array to each
                    doge.messages = [];
                    // use ID as index... 
                    // simpler/less confusing than if they're two different numbers
                    matches[parseInt(doge.id)] = doge;
                });
                console.log("found " + doges.length + " doges.");
                // show the first suitable one
                nextMatch();
                // look for messages nex
                checkMessages();
            },
            error: (jqXHR, textStatus, error) => {
                // display error message
                console.log(JSON.stringify(jqXHR));
                $("#matches").empty().css({color: "red"}).text(jqXHR.responseText);
            }
        })
    }

    function nextMatch () {
        // get the next available match
        var failed = false;
        while (failed === false) {
            currentMatch ++;
            if (currentMatch >= matches.length) currentMatch = 0;
            if (matches[currentMatch]) {
                // see if this is a suitable match
                if (matches[currentMatch].name != "{{name}}") {
                    // show it and get out
                    showMatch(currentMatch);
                    return;
                }
            }
        }
    }

    function showMatch (number) {
        // populate "match" window
        $("#matchPicContainer").css({'background-image': "url('" + matches[number].imgURL + "')"});
        $("#matchName").text(matches[number].name)
        $("#matchBreed").text("breed: " + matches[number].breed)
        $("#matchSex").text("sex: " + matches[number].sex)
        $("#matchLocation").text("location: " + matches[number].location)
        // skip this one for now
        // $("#matchAge").text("age: " + matches[number].age)
        $("#matchDescription").text(matches[number].description);
        // update database to show which match we saw last
        $.post("/api/sawmatch", {userID: {{id}}, authtoken: localStorage.authtoken, matchID: number})
    }

    function showConvo () {
        var match = matches[currentMatch];
        console.log("showing conversation with: " + match.name);
        if (currentWindow == "convo") {
            // mark off all unread messages from this user
            match.messages.forEach(message => {
                if (message.recipient == {{id}} && message.unread) {
                    // mark as read
                    $.post("/api/message/read", {
                        username: "{{name}}",
                        authtoken: localStorage.authtoken,
                        id: message.id
                    })
                }
            })
            // all messages from this user are read.
            match.unreadMessages = 0;
        }
        // show all the messages
        console.log("showing messages with: " + matches[currentMatch].name)
        $("#prevMessages").empty();
        matches[currentMatch].messages.forEach(message => {
                $("#prevMessages").append(
                    $("<p>")
                    .addClass("messageContainer")
                    .append(

                        $("<img>").addClass("thumbnail")
                        .attr('src',
                            // show little thumbnail image from whomever sent this message
                            (message.sender == {{ id }} ?"{{imgURL}}" : matches[currentMatch].imgURL))
                        .css({
                            "float":
                                // your thumbnails go on the left, theirs on the right
                                (message.sender == {{ id }} ?"left" : "right")
                        }),

                        $("<span>").text(message.text)
                            .addClass("messageTextContainer")
                            .css({ "float": (message.sender == {{ id }} ?"left" : "right")})
                    )
                );

        });
        // scroll to the bottom
        $("#prevMessages").scrollTop($("#prevMessages")[0].scrollHeight);
        // show who you're talking to
        $("#msgRecipient").text(matches[currentMatch].name);
    }

    function showMessages () {
        var messages = matches.map((match, i) => {
            // get just the last message from each match
            if (match.messages.length > 0) {
                // create a message object
                var lastMessage = match.messages.slice(-1)[0];
                var msgBox = Object.assign({}, 
                    lastMessage,
                    {with: match.name,
                    matchIndex: i,
                    sender: (lastMessage.sender == {{id}} ? "you" : match.name),
                    // truncate text if it's more than 60 chars
                    text: (lastMessage.text.length > 60 ? 
                        lastMessage.text.slice(50) + "..." : lastMessage.text),
                    img: $("<img>").addClass("thumbnail").attr('src', match.imgURL),
                    unread: match.unreadMessages});
                return msgBox;
            } 
            else return {};
        })
        // sort them by ID (most recent first)
        messages = messages.filter(m => { return m.id }).sort((a, b) => {return b.id - a.id});
        // clear current messages
        $("#messages").empty();
        // append to contentWindow
        messages.forEach(message => {
            if (message.unread) console.log(message.unread + "unread messages from " + message.with);
            if (message.text) {
                $("#messages").append(
                    // make a div to hold this exchange
                    $("<div>").addClass("convoContainer").append(
                        message.img,
                        // show when the last message was sent
                        $("<span>").css({
                            "float": "right",
                            "font-size": "10pt",
                            "color": "gray",
                        }).html("Last message at: <br>" + message.createdAt),
                        $("<span>").css({ "font-weight": "400", "font-size": "16pt" }).text(message.with),
                        // add a little notification thingy if there are unread messages
                        (message.unread ?
                            $("<div>").addClass("messageAlert").text(message.unread).show() : null),
                        // show text of most recent message and who sent it
                        $("<p>").text("-- " + message.sender + " said: " + message.text),
                    ).click(() => {
                        // on click, show this message in context
                        currentMatch = message.matchIndex;
                        showWindow("convo");
                    })
                )
            }
        })
        console.log("showing all messages:");
    }

    function getDogeByID (id) {
        // let's make this simple
        return matches[id];
        // who needs all this??
        for (i=0; i<matches.length; i++) {
            var match = matches[i];
            // console.log("checking id: " + match.id)
            if (match.id == id) {
                {{!-- console.log(match.name) --}}
                return match;
            }
        }
    }

    function sendMessage () {
        var message = $("#msgText").val();
        // is there anything in the box?
        if (message) {
            $.post("/api/message", {
                sender: {{id}},
                recipient: matches[currentMatch].id,
                text: message
            }).then (res => {
                console.log(JSON.stringify(res));
                $("#msgText").val("");
                $("#prevMessages").append("{{name}}" + ": " + message)
            })
        }
    }

    function checkMessages () {
        matches.forEach(match => {
            $.ajax({
                url: "/api/messages/convo/{{id}}/" + match.id + "/" + (match.messages.length > 0 ? match.messages.slice(-1)[0].id : 0),
                type: "GET",
                success: (messages) => {
                    // save them for this match
                    if (messages.length > 0) {
                        // add all new messages to the array for this match
                        match.messages = match.messages.concat(messages);
                        console.log(match.unreadMessages + " unread messages from " + match.name);
                        if (currentWindow== "convo" && match == matches[currentMatch]) {
                            // update convo window if relevant
                            showConvo();
                        }
                        else if (currentWindow=="messages") showMessages();
                    }
                    if (messages.length) console.log("messages between {{name}} and " + match.name + ": " + messages.length);
                    // count how many have not been read yet
                    match.unreadMessages = messages.reduce((sum, message) => {
                        return sum += (message.unread && message.recipient=={{id}} ? 1 : 0)}, 0);
                },
                error: (jqXHR, textStatus, error) => {
                    // display error message
                    console.log(JSON.stringify(jqXHR));
                    $("#messages").empty().css({ color: "red" }).text(jqXHR.responseText);
                }
            })
            // "/api/messages/convo/:user1ID/:user2ID/:since?"
        })
        // add up all unread messages
        unreadMessages = matches.reduce((sum, match) => {return sum + (match.unreadMessages || 0)}, 0);
        // show little message notification thingy
        if (unreadMessages) $("#newMessages").show().text(unreadMessages);
        // or hide it if there are no new ones
        else $("#newMessages").hide();
    }
    setInterval(checkMessages, 2000);
</script>


  {{!-- <script>
$function(){
  $("profile").hide();
});
  </script>  --}}


</html>
