<!DOCTYPE html>
<html lang="en">

<head>
    <title>dogFire</title>
    <link rel="stylesheet" href="/css/dashboard.css" media="screen" title="no title" charset="utf-8">
</head>

{{!-- <body class="black"> --}}

  <!--Main Navigation-->
  <div class="header">

    <!-- Navbar -->

    {{!-- --This will move the dog icon all the way to the left-- --}}
{{!-- <nav class="navbar navbar-expand-lg"></nav> --}}

{{!-- This moves it all the way to the right --}}
   <nav class="navbar" id="navbar">
        <h1><strong>The Barker</h1></strong>
        <!-- Right -->
        <i class="fas fa-dog mr-4" id="icon"></i>
   </nav>
   
  <!-- Navbar -->
</div>
    
 <!-- <body> -->
  <body>
    <div class="container-fluid" id= "main-container">
      <div class="row">

        <div class="col-md-4" id="sidebar">
            <div style="text-align: center">
                <h3>{{name}} </h3>
                <br>
                <div style="width: 100%; height: 300px;">
                    <img id="profilePic" src="{{imgURL}}" style="max-width: 100%; max-height: 100%; display: inline-block" alt="dog picture">
                </div>
            </div>
            <br>
            {{!-- sidebar tabs --}}
            <a class="tabButton list-group-item active waves-effect" 
                id="getmatches" 
                onclick="showWindow('matches');">
                <i class="	fas fa-dog mr-4"></i>Matches</a>
            <a class="tabButton list-group-item waves-effect" 
                id="getprofile" 
                onclick="showWindow('profile');">
                <i class="	fas fa-dog mr-4"></i>Profile</a>
            <a class="tabButton list-group-item waves-effect" 
                id="getmessages" 
                onclick="showWindow('messages');">
                <i class="	fas fa-dog mr-4"></i>Messages</a>
        </div>

        {{!-- content windows --}}

        <div class="col-md-8">

            <div class= "content-window" id="profile" style="display: none">      
                {{!-- <img id="firstPic" src="https://d3jjg4nf4bbybe.cloudfront.net/u/64047/a19fb2d6368a1a3a57d32838884733aac69f9570/medium/ralph-4.jpg"> --}}
                    
                <div style="width: 100%; height: 400px; text-align: center">
                    <img id="secondPic" src="{{imgURL}}" style="max-width: 100%; max-height: 100%; display: inline-block"
                        alt="dog picture">
                </div>
                <p>Name: {{name}}</p>
                <p>Breed: {{breed}}</p>
                <p>Sex: {{sex}}</p>
                <p>Location: {{location}}</p>
                <p>Description: {{description}}</p>

                <button class="editInfo"  id="changeProfileInfo" onclick="showWindow('signup');" >"Edit Personal Info"</button>
            </div>        
        
      
            {{!-- matches window!! --}}
            <div class= "content-window" id="matches"> 
                <div class="row">
                    <div class="col-md-6">
                        <div id="matchPicContainer">
                            {{!-- <img id="matchPic" src="" alt="dog picture"> --}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <h3 id="matchName">dog</h3>
                        <hr>
                        <p id="matchBreed">dog</p>
                        <p id="matchSex">dog</p>
                        <p id="matchLocation">here</p>
                        <p id="matchAge">1</p>
                        <p id="matchDescription">dog</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 rowcontainer">
                        <br>
                        <button class='rowbutton' style="left: 25%" onclick="showWindow('sendMessage'); showMessages();">send message</button>
                        <button class='rowbutton' style="left: 75%" onclick="nextMatch()">next</button>
                        <br>
                        <span style="color:black">' let's have some space here please for fuck's sake '</span>
                    </div>
                </div>
            </div>
          

            <div class="content-window" id="messages" style="display: none">
                {{!-- <img id="matchedImage" src="/images/dragon.jpg" alt="dog picture"> --}}
                <h3>OTHER DOGES:</h3>
                <br>
                <ul>
                    {{#each otherDogs}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <p>name: {{name}}</p>
                        <p>breed: {{breed}}</p>
                        <p>location: {{location}}</p>
                        <p>description: {{description}}</p>
                        {{!-- <a href="doge/{{this.id}}">{{this.text}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button> --}}
                        <button onclick="window.location.href='/convo/{{../id}}/{{id}}'">
                            send message
                        </button>
                    </li>
                    {{/each}}
                </ul>
                <br>

            </div>

            <div class="content-window" id="sendMessage" style="display: none">
                {{!-- <img id="matchedImage" src="/images/dragon.jpg" alt="dog picture"> --}}
                <div id="convo" onclick="checkMessages()">

                </div>
                message to: <span id="msgRecipient"></span>
                <input type="text" id="msgText">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>
        

{{!--  app.get("/api/name/:dogename", function (req, res) {
        // look up by username
        console.log("getting info on user with name: " + req.params.dogename);
        findDoge({ name: req.params.dogename }, res); --}}



</body>

<script>
    var matches = [];
    var currentMatch = 0;
    $("document").ready(() => {
        // have these ready
        getMatches();
    })

    function showWindow(selectedWindow) {
        $(".tabButton").removeClass("active");
        $("#get" + selectedWindow).addClass("active");
        $(".content-window").hide();
        $('#'+ selectedWindow).show();
    };

    function getMatches() {
        $.ajax({
            url: "/api/allDoges",
            type: "GET",
            success: (doges) => {
                matches = doges;
                console.log("found " + doges.length + " doges.");
                // show the first suitable one
                nextMatch();
                // look for messages nex
                getMessages();
            },
            error: (jqXHR, textStatus, error) => {
                // display error message
                console.log(JSON.stringify(jqXHR));
                $("#matches").empty().css({color: "red"}).text(jqXHR.responseText);
            }
        })
    }

    function nextMatch () {
        // get the next available match
        var failed = false;
        while (failed === false) {
            currentMatch ++;
            if (currentMatch >= matches.length) currentMatch = 0;
            // see if this is a suitable match
            if (matches[currentMatch].name != "{{name}}") {
                // show it and get out
                showMatch(currentMatch);
                return;
            }
        }
    }

    function showMatch (number) {
        $("#matchPicContainer").css({'background-image': "url('" + matches[number].imgURL + "')"});
        $("#matchName").text(matches[number].name)
        $("#matchBreed").text("breed: " + matches[number].breed)
        $("#matchSex").text("sex: " + matches[number].sex)
        $("#matchLocation").text("location: " + matches[number].location)
        $("#matchAge").text("age: " + matches[number].age)
        $("#matchDescription").text(matches[number].description)
    }

    function getMessages () {
        // retrieve all conversations with all other users
        matches.forEach(match => {
            $.ajax({
                url: "/api/messages/convo/{{id}}/" + match.id,
                type: "GET",
                success: (messages) => {
                    // save them for this match
                    match.messages = messages;
                    console.log("messages between {{name}} and " + match.name + ": " + messages.length);
                },
                error: (jqXHR, textStatus, error) => {
                    // display error message
                    console.log(JSON.stringify(jqXHR));
                    $("#messages").empty().css({color: "red"}).text(jqXHR.responseText);
                }
            })
            // "/api/messages/convo/:user1ID/:user2ID/:since?"
        })
    }

    function showMessages () {
        console.log("showing messages with: " + matches[currentMatch].name)
        $("#convo").empty();
        matches[currentMatch].messages.forEach(message => {
            $("#convo").append($("<p>").text(getDogeByID(message.sender).name + ": " + message.text));
        })
        $("#msgRecipient").text(matches[currentMatch].name);
        matches.forEach(match => {
            // console.log(match.name);
        });
    }

    function getDogeByID (id) {
        for (i=0; i<matches.length; i++) {
            var match = matches[i];
            console.log("checking id: " + match.id)
            if (match.id == id) {
                console.log(match.name)
                return match;
            }
        }
    }

    function sendMessage () {
        $.post("/api/message", {
            sender: {{id}},
            recipient: matches[currentMatch].id,
            text: $("#msgText").val()
        }).then (res => {
            console.log(JSON.stringify(res));
            $("#msgText").val("");
        })
    }

    function checkMessages () {
        matches.forEach(match => {
            $.ajax({
                url: "/api/messages/convo/{{id}}/" + match.id + "/" + (match.messages ? match.messages.slice(-1)[0].id : 0),
                type: "GET",
                success: (messages) => {
                    // save them for this match
                    if (messages) {
                        match.messages = match.messages.concat(messages);
                        if (match == matches[currentMatch]) {
                            showMessages();
                        }
                    }
                    console.log("messages between {{name}} and " + match.name + ": " + messages.length);
                },
                error: (jqXHR, textStatus, error) => {
                    // display error message
                    console.log(JSON.stringify(jqXHR));
                    $("#messages").empty().css({ color: "red" }).text(jqXHR.responseText);
                }
            })
            // "/api/messages/convo/:user1ID/:user2ID/:since?"
        })
    }
    {{!-- setInterval(checkMessages, 2000); --}}
</script>


  {{!-- <script>
$function(){
  $("profile").hide();
});
  </script>  --}}


</html>
