<div id="home">
    <div class="container">
        <div class="row">
        <div class="col-8 offset-2">
            DOGS:
            <br>
            <ul>
            {{#each dogs}}
            <li data-id="{{this.id}}" class="list-group-item">
                <p>name: {{name}}</p>
                <p>breed: {{breed}}</p>
                <p>description: {{description}}</p>
                <hr>
                {{!-- <a href="doge/{{this.id}}">{{this.text}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button> --}}
            </li>
            {{/each}}
            </ul>
            <br>
            NEW DOG:

            <form action="/api/newdoge" method="post">
                name: <input type="text" name="name"><br>
                location: <input type="text" name="location">
                breed: <input type="text" name="breed"> <br>
                description: <textarea name="description" rows="5" cols="80"></textarea> <br>
                visible online: <input type="checkbox" name="visible"><br>
                birthdate: <input type="date" name="birthdate"><br>
                <input type="submit">
            </form>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
