<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>YOU</h3>
            <br>
            <h3>{{name}} </h3>
            bio: {{description}} <br>
            location: {{location}} <br>
            email: {{email}} <br>
        </div>
        <div class="col-8">
            <h3>OTHER DOGES:</h3>
            <br>
            <ul>
                {{#each otherDogs}}
                <li data-id="{{this.id}}" class="list-group-item">
                    <p>name: {{name}}</p>
                    <p>breed: {{breed}}</p>
                    <p>location: {{location}}</p>
                    <p>description: {{description}}</p>
                    {{!-- <a href="doge/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button> --}}
                    <button onclick="window.location.href='/convo/{{../id}}/{{id}}'">
                        send message
                    </button>
                </li>
                {{/each}}
            </ul>
            <br>

        </div>
    </div>
</div>
